.type_boxes{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.requests_box{
    background-color: #88C198;
    padding:10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-width:340px;
} 

.type_circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CFE5A0;
    color: #333;
    margin:10px;
    width:200px;
    height:200px;
    border-radius: 50%;
}

.request_box{
    display:flex;
    position: relative;
    flex-direction: column;
    background-color:#FFF;
    border-radius:10px;
    margin:10px;
    min-width:300px;
    min-height:250px;
    max-height: auto;
    border-radius: 10px;
}

.rqrow{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:5px 10px;
}

.rqrow h3, .rqrow h4, .itemrow h3{
    padding:0;
    margin:8px 5px;
}

.itemrow{
    display: flex;
}

.rqrow h3,.itemrow h3{
    font-size:20px;
    font-weight:bold;
}

.actionbtns{
    display:flex;
    position: absolute;
    bottom:0;
    width: 100%;
    margin-top:20px;
}

.primary{
    width: 100%;
    padding: 8px;
    color: #EEB365;
    background-color: #FFFFFF;
    border-radius: 0 0 0 10px;
    border : none;
    border-top: 1px solid #333;
    outline:none;
    cursor:pointer;
    font-weight: bold;
    font-size:16px;
}

.secondary{
    width:100%;
    padding:8px;
    color: #88C198;
    background-color: #FFFFFF;
    border-radius: 0 0 10px 0;
    border: none;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    outline:none;
    cursor:pointer;
    font-weight: bold;
    font-size:16px;
}

.deleteorders {
    width: 250px;
}
