
.ordertable{
    padding: 1% 2%;
    width: 100%;
}

.orderrow {
    width: 80vw;
    align-items: center;
}

.ordertable td {
    padding: 20px 40px;
    width: 20vw;
    border: 1px solid #EEB365;
    font-weight: bold;
}

.ordertable th{
   padding: 20px 40px;
   border: 1px solid #EEB365;
   font-weight: bold;
   text-align:left;
}
